<nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <h2 class="navbar-brand">El blog de Juan Ignacio</h2>
            <a class="nav-item nav-link" [routerLink]="['/blog']" [routerLinkActive]="'active'">BLOG <span
                    class="sr-only">(current)</span></a>
            <a class="nav-item nav-link " [routerLink]="['/new']" [routerLinkActive]="'active'">NUEVO POST</a>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>